<app-navbar></app-navbar>

<div class="container">
  <div style="font-size: 28px; margin: 30px 0 20px 0; order: 0">
    {{offer.name}}
  </div>

  <div class="flex-row" style="justify-content: space-between">
    <div class="flex-column" style="flex-grow: 5">
      <div class="shadow" style="width: 98%;">
        <mat-tab-group dynamicHeight style="background-color: #444444;">
          <mat-tab label="Details">
            <div class="box">
              <div><strong>Details about the offer:</strong></div>
              <div>{{offer.description}}</div>
              <p></p>
              <span>
            <strong>Brand: </strong>
            <a class="author-name" routerLink=".">{{offer.authorName}}</a>
          </span>
              <p></p>
              <span>
            <strong>Categories: </strong>
            <span *ngFor="let category of offer.categories">
              <mat-chip-list [multiple]="true" aria-label="Categories"
                             class="inline-chips">
                <mat-chip class="category-chips" disableRipple>{{category.name}}</mat-chip>
              </mat-chip-list>
            </span>
          </span>
              <div></div>
              <span>
            <strong>Formats: </strong>
            <span *ngFor="let format of offer.advertisementFormats">
              <mat-chip-list [multiple]="true" aria-label="Formats"
                             class="inline-chips">
                <mat-chip class="category-chips" disableRipple>{{format.name}}</mat-chip>
              </mat-chip-list>
            </span>
          </span>
              <p></p>
              <span>
            <strong>Free product sample: </strong>
                {{offer.freeProductSample === true ? 'Yes' : 'No'}}
          </span>
              <p></p>
              <span>
            <strong>Advertisement review required: </strong>
                {{offer.advertisementReview === true ? 'Yes' : 'No'}}
          </span>
              <p></p>
              <span>
            <strong>Compensation: </strong>
                {{offer.compensation}}
          </span>
            </div>

            <p-galleria
                    *ngIf="offerImages.length > 0"
                    [images]="offerImages"
                    [showCaption]="false"
                    frameHeight="100"
                    frameWidth="100%"
                    panelHeight="700"
                    panelWidth="100%"
            ></p-galleria>
          </mat-tab>

          <mat-tab *ngIf="isUser() || isAuthor()" [label]="isAuthor() ? 'View bids' : isUser() ? 'Bid' : 'Bid'">
            <div *ngIf="isAuthor()" class="mat-elevation-z8">
              <table [dataSource]="dataSource" mat-table matSort multiTemplateDataRows style="width: 100%;">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th *matHeaderCellDef mat-header-cell>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [aria-label]="checkboxLabel()"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </th>
                  <td *matCellDef="let row" mat-cell>
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                  (click)="$event.stopPropagation()"
                                  [aria-label]="checkboxLabel(row)"
                                  [checked]="selection.isSelected(row)"
                                  [disabled]="!bisIsNew(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" mat-cell>
                    <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                         class="element-detail">
                      <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                        <div style="display: flex; flex-direction: column;">
                          <h2><strong>Bid:</strong></h2>
                          <span><strong>Author: </strong>{{element.userEmail}}</span>
                          <span><strong>Compensation: </strong>{{element.compensation}}</span>
                          <span><strong>Free product sample: </strong>{{element.freeProductSample ? 'Yes' : 'No'}}</span>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-left: 50px;">
                          <h2><strong>Persona:</strong></h2>
                          <span><strong>Ocupation: </strong>{{element.persona.activity}}</span>
                          <span><strong>Audience: </strong>{{element.persona.audience}}</span>
                          <span><strong>Selling: </strong>{{element.persona.sellingOrientation}}</span>
                          <span><strong>Values: </strong>{{element.persona.values}}</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="author">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Author</th>
                  <td *matCellDef="let bid" mat-cell>{{bid.userEmail}}</td>
                </ng-container>

                <ng-container matColumnDef="compensation">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Compensation</th>
                  <td *matCellDef="let bid" mat-cell>{{bid.compensation}}</td>
                </ng-container>

                <ng-container matColumnDef="bidStatus">
                  <th *matHeaderCellDef mat-header-cell style="text-align: center;">Status</th>
                  <td *matCellDef="let bid" mat-cell style="text-align: center;">
                    <mat-chip [class.blue-chip]="bisIsNew(bid)" class="status-chip"
                              disableRipple>
                      {{bid.bidStatus}}
                    </mat-chip>
                  </td>
                </ng-container>

                <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
                <tr (click)="expandedElement = expandedElement === bid ? null : bid"
                    *matRowDef="let bid; columns: columnsToDisplay"
                    [class.expanded-row]="expandedElement === bid" class="element-row" mat-row>
                </tr>
                <tr *matRowDef="let bid; columns: ['expandedDetail']" class="detail-row" mat-row></tr>
              </table>

              <!-- Paginator -->
              <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                             showFirstLastButtons></mat-paginator>

              <div class="box" style="text-align: end;">
                <button
                        (click)="acceptBid()"
                        [class.create-button-disabled]="checkSelected()"
                        [disabled]="checkSelected()"
                        class="create-button-active"
                        mat-button
                >Accept
                </button>
              </div>
            </div>

            <div *ngIf="(existingBid | async) === null && !isAuthor()"
                 class="box">
              <form style="width: 100%">
                <table style="width: 100%">
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>What do you do?</mat-label>
                      <input [errorStateMatcher]="matcher" [formControl]="whatDoYouDo" matInput required>
                      <mat-hint></mat-hint>
                      <mat-error *ngIf="whatDoYouDo.hasError('required')"><strong>Required!</strong></mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Who is your audience?</mat-label>
                      <input [errorStateMatcher]="matcher" [formControl]="whoIsYourAudience" matInput required>
                      <mat-hint></mat-hint>
                      <mat-error *ngIf="whoIsYourAudience.hasError('required')"><strong>Required!</strong></mat-error>
                    </mat-form-field>
                  </td>
                </table>
                <table style="width: 100%">
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>What are you selling?</mat-label>
                      <input [errorStateMatcher]="matcher" [formControl]="whatAreYouSelling" matInput required>
                      <mat-hint></mat-hint>
                      <mat-error *ngIf="whatAreYouSelling.hasError('required')"><strong>Required!</strong></mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>What are your core values?</mat-label>
                      <input [errorStateMatcher]="matcher" [formControl]="coreValues" matInput required>
                      <mat-hint></mat-hint>
                      <mat-error *ngIf="coreValues.hasError('required')"><strong>Required!</strong>
                      </mat-error>
                    </mat-form-field>
                  </td>
                </table>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Compensation</mat-label>
                  <input [errorStateMatcher]="matcher"
                         [formControl]="compensation"
                         matInput>
                  <mat-hint></mat-hint>
                </mat-form-field>
              </form>

              <!-- Actions -->
              <div class="flex-row">
                <mat-slide-toggle (click)="disableFields()" [(ngModel)]="requirementsAccepted">Accept initial
                  requirements
                </mat-slide-toggle>
                <mat-slide-toggle [(ngModel)]="freeProductSample" [disabled]="requirementsAccepted" class="slider">Free
                  product sample
                </mat-slide-toggle>
                <div fxFlex></div>
                <button
                        (click)="placeBid()"
                        [class.create-button-disabled]="checkForErrors()"
                        [disabled]="checkForErrors()"
                        class="create-button-active"
                        mat-button
                >Place bid
                </button>
              </div>
            </div>

            <div *ngIf="(existingBid | async) as newBid">
              <div *ngIf="newBid !== null" class="box">
                <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                  <div style="display: flex; flex-direction: column;">
                    <h2><strong>Your bid:</strong></h2>
                    <span><strong>Compensation: </strong>{{newBid.compensation}}</span>
                    <span><strong>Free product sample: </strong>{{newBid.freeProductSample ? 'Yes' : 'No'}}</span>
                    <span>
                      <strong>Bid status: </strong>
                      <mat-chip [class.blue-chip]="bisIsNew(newBid)" class="status-chip"
                                disableRipple>
                      {{newBid.bidStatus}}
                    </mat-chip>
                    </span>
                  </div>
                  <div style="display: flex; flex-direction: column; margin-left: 30px;">
                    <h2><strong>Your persona:</strong></h2>
                    <span><strong>What do you do: </strong>{{newBid.persona.activity}}</span>
                    <span><strong>Who is your audience: </strong>{{newBid.persona.audience}}</span>
                    <span><strong>What are you selling: </strong>{{newBid.persona.sellingOrientation}}</span>
                    <span><strong>What are you core values: </strong>{{newBid.persona.values}}</span>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="flex-column">
      <mat-card class="shadow">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>
            <mat-chip [class.blue-chip]="assigned" [class.red-chip]="offerExpired" class="status-chip" disableRipple>
              {{offer.offerStatus}}
            </mat-chip>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="shadow" style="margin-top: 20px;">
        <mat-card-header>
          <mat-card-title>
            Offer expiration date
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip class="time-chip" disableRipple>
              {{offer.expireDate | date: 'medium'}}
            </mat-chip>
            <div style="margin: 10px 0;"></div>
            <mat-divider></mat-divider>
            <mat-chip class="hours-chip" disableRipple style="margin-top: 10px;">
              {{timeToDisplay}} hours
            </mat-chip>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="shadow" style="margin-top: 20px;" *ngIf="isAuthor()">
        <mat-card-header>
          <mat-card-title>
            Assigned users
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<app-scroll-up-button></app-scroll-up-button>
