<app-navbar></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a [routerLink]="'/admin'" mat-list-item>Dashboard</a>
      <a [routerLink]="'/admin/categories'" mat-list-item>Categories</a>
      <a [routerLink]="'/admin/advertisement-formats'" mat-list-item>Advertisement Formats</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <span>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      Navigation
    </span>

    <div class="container shadow">
      <span>
        <span style="margin-left: 15px;">Add a new category: </span>
        <mat-form-field appearance="standard" style="margin-left: 15px; width: 80%;">
          <mat-label>Enter category name</mat-label>
          <input #input matInput maxlength="64" placeholder="Ex. Technology">
          <mat-hint align="end">{{input.value?.length || 0}}/64</mat-hint>
        </mat-form-field>
        <button (click)="addCategory(input.value)" class="styled-button" mat-flat-button
                style="margin-left: 15px;">Add</button>
      </span>

      <table [dataSource]="dataSource" mat-table matSort style="margin-top: 20px;">
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let category" mat-cell>
            {{category.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>Actions</th>
          <td *matCellDef="let category" mat-cell>
            <button (click)="deleteCategory(category.name)" color="warn" mat-flat-button>Delete</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let category; columns: columnsToDisplay" mat-row></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                     showFirstLastButtons></mat-paginator>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
