<app-navbar></app-navbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create new offer</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form style="width: 100%;">
        <table style="width: 100%;">
          <!-- Name input -->
          <td>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <!-- Categories dropdown -->
          <td>
            <mat-form-field appearance="outline" id="categories-selector" style="width: 100%;">
              <mat-label>Categories</mat-label>
              <mat-select [formControl]="selectedCategories" multiple>
                <mat-select-trigger>
                  {{selectedCategories.value ? selectedCategories.value[0] : ''}}
                  <span *ngIf="selectedCategories.value?.length > 1" class="additional-selection">
                    (+{{selectedCategories.value.length - 1}} {{selectedCategories.value?.length === 2 ? 'other' : 'others'}}
                    )
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </table>
        <!-- Description textarea -->
        <mat-form-field appearance="outline" id="description" style="width: 100%">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <!-- Upload area -->
        <span>
          Upload images
          <app-material-file-upload (complete)="onFileUploadComplete($event)"></app-material-file-upload>
        </span>
        <span *ngFor="let image of uploadedImages">
          <img [alt]="image.name" [src]=image.url class="image">
        </span>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div fxFlex></div>
      <button class="cancel-button" mat-button>Cancel</button>
      <button class="create-button" mat-button>Create</button>
    </mat-card-actions>
  </mat-card>
</div>
