<button (click)="onClick()" class="upload-button" color="warn" mat-button>
  <mat-icon>file_upload</mat-icon>
  {{  text}}
</button>

<br/>

<ul>
  <li *ngFor="let file of files" [@fadeInOut]="file.state">
    <mat-progress-bar [value]="file.progress"></mat-progress-bar>
    <span id="file-label">
            {{file.data.name}}
      <a (click)="retryFile(file)" *ngIf="file.canRetry" title="Retry">
            <mat-icon>refresh</mat-icon></a>
            <a (click)="cancelFile(file)" *ngIf="file.canCancel" title="Cancel">
            <mat-icon>cancel</mat-icon></a>
            </span>
  </li>
</ul>

<input [accept]=accept id="fileUpload" multiple="multiple" name="fileUpload" style="display:none;" type="file"/>
