<app-navbar></app-navbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create new offer</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form style="width: 100%;">
        <table style="width: 100%;">
          <!-- Name input -->
          <td>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input [errorStateMatcher]="matcher" [formControl]="offerName" matInput required>
              <mat-hint></mat-hint>
              <mat-error *ngIf="offerName.hasError('required')">Name is <strong>required!</strong></mat-error>
            </mat-form-field>
          </td>
          <!-- Date picker -->
          <td>
            <mat-form-field appearance="outline" id="date-picker" style="width: 100%;">
              <mat-label>Choose the offer expiration date</mat-label>
              <input [errorStateMatcher]="matcher" [formControl]="offerExpiryDate" [matDatepicker]="picker" matInput
                     required>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi></mat-datepicker>
              <mat-hint></mat-hint>
              <mat-error *ngIf="offerExpiryDate.hasError('required')">Expiry date is <strong>required!</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <!-- Categories dropdown -->
          <td>
            <mat-form-field appearance="outline" id="categories-selector" style="width: 100%;">
              <mat-label>Categories</mat-label>
              <mat-select [formControl]="selectedCategories" multiple>
                <mat-select-trigger>
                  {{selectedCategories.value ? selectedCategories.value[0] : ''}}
                  <span *ngIf="selectedCategories.value?.length > 1" class="additional-selection">
                    (+{{selectedCategories.value.length - 1}} {{selectedCategories.value?.length === 2 ? 'other' : 'others'}}
                    )
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let category of categories | async"
                            [value]="category.name">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </table>
        <!-- Description textarea -->
        <mat-form-field appearance="outline" id="description" style="width: 100%">
          <mat-label>Description</mat-label>
          <textarea [errorStateMatcher]="matcher" [formControl]="offerDescription" matInput required></textarea>
          <mat-hint></mat-hint>
          <mat-error *ngIf="offerDescription.hasError('required')">Provide at least a minimal
            <strong>description</strong> of your offer!
          </mat-error>
        </mat-form-field>

        <!-- Upload area -->
        <span>
          <span style="font-size: 18px;">Upload images (up to 12 images, 10MB max per image)</span>
          <app-material-file-upload (complete)="onFileUploadComplete($event)"
                                    style="margin-left: 10px;"></app-material-file-upload>
        </span>
        <div fxLayout="row wrap" fxLayoutGap="15px">
          <div *ngFor="let image of uploadedFiles">
            <mat-card id="image-card" style="max-width: 330px;">
              <mat-card-header>
                <mat-card-subtitle>
                  <span class="close-button">
                    <button (click)="removeFile(image)"
                            aria-label="Remove" mat-button mat-icon-button
                            matSuffix>
                      <mat-icon>close</mat-icon>
                    </button>
                  </span>
                  <span class="file-name">
                    {{image.name}}
                  </span>
                </mat-card-subtitle>
              </mat-card-header>
              <img [alt]="image.name" [src]=image.url class="image">
            </mat-card>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div fxFlex></div>
      <button (click)="cancel()" id="cancel-button" mat-button>Cancel</button>
      <button
              (click)="createOffer()"
              [disabled]="offerName.hasError('required') ||
                          offerExpiryDate.hasError('required') ||
                          offerDescription.hasError('required')"
              id="create-button"
              mat-button
      >Create
      </button>
    </mat-card-actions>
  </mat-card>
</div>
