<app-navbar></app-navbar>

<div class="container" style="margin-top: 25px;">
  <h1>Influencers</h1>
</div>

<!-- Filter -->
<div class="container">
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>Search...</mat-label>
    <input (keyup)="applyFilters($event)" [(ngModel)]="searchValue" matInput placeholder="Ex. influencer">
    <button (click)="clearFilter()" *ngIf="searchValue" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8 container">
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
      <td *matCellDef="let user" mat-cell>
        <p style="font-size: 18px;"><a [routerLink]="'/profile/' + user.email">{{user.email}}</a><br><br></p>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let userData; columns: columnsToDisplay" mat-row></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                 showFirstLastButtons></mat-paginator>
</div>
