<app-navbar></app-navbar>

<div class="container">
  <div class="flex-row">
    <div class="flex-column" style="width: 30%">
      <mat-card class="shadow" style="position:fixed;">
        <mat-card-header style="background-color: #444444;">
          <mat-card-title style="color: white;">
            <h2 style="margin-left: 16px;">Profile:</h2>
            <div class="line"></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 10px;">
          <div *ngIf="user.brandName != null">
            <h3>Brand name:</h3>
            <span>{{user.brandName}}</span>
          </div>

          <div *ngIf="user.brandWebsite != null">
            <h3>Brand website:</h3>
            <span>{{user.brandWebsite}}</span>
          </div>

          <span>
            <strong>Email: </strong>{{user.email}}
          </span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex-column" style="flex-grow: 5; margin-left: 30px;">
      <mat-tab-group style="background-color: #444444;">
        <mat-tab *ngIf="isUser()" label="Offers you placed your bid on">
          <div class="mat-elevation-z8">
            <table #userBidSort="matSort" [dataSource]="userBidDataSource" mat-table matSort multiTemplateDataRows
                   style="width: 100%;">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
                <td *matCellDef="let offer" mat-cell><a [routerLink]="'/offers/' + offer.id">{{offer.name}}</a></td>
              </ng-container>

              <ng-container matColumnDef="author">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Author</th>
                <td *matCellDef="let offer" mat-cell>
                  <span class="author-name"><a routerLink=".">{{offer.authorName}}</a></span>
                </td>
              </ng-container>

              <ng-container matColumnDef="offerStatus">
                <th *matHeaderCellDef mat-header-cell>Offer status</th>
                <td *matCellDef="let offer" mat-cell>
                  <mat-chip [class.blue-chip]="isAssigned(offer)" [class.red-chip]="isExpired(offer)" class="status-chip"
                            disableRipple>
                    {{offer.offerStatus}}
                  </mat-chip>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="userColumnsToDisplay; sticky: true" mat-header-row></tr>
              <tr *matRowDef="let offer; columns: userColumnsToDisplay" mat-row>
              </tr>
            </table>

            <!-- Paginator -->
            <mat-paginator #userBidPaginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                           showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab *ngIf="isUser()" label="Offers you are assigned to">
          <div class="mat-elevation-z8">
            <table #assignedOffersSort="matSort" [dataSource]="assignedOffersDataSource" mat-table matSort
                   multiTemplateDataRows
                   style="width: 100%;">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
                <td *matCellDef="let offer" mat-cell><a [routerLink]="'/offers/' + offer.id">{{offer.name}}</a></td>
              </ng-container>

              <ng-container matColumnDef="author">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Author</th>
                <td *matCellDef="let offer" mat-cell>
                  <span class="author-name"><a routerLink=".">{{offer.authorName}}</a></span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="['name', 'author']; sticky: true" mat-header-row></tr>
              <tr *matRowDef="let offer; columns: ['name', 'author']" mat-row>
              </tr>
            </table>

            <!-- Paginator -->
            <mat-paginator #assignedOffersPaginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                           showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab *ngIf="isUser()" label="Completed offers">
          <div class="mat-elevation-z8">
            <table #completedOffersSort="matSort" [dataSource]="completedOffersDataSource" mat-table matSort
                   multiTemplateDataRows
                   style="width: 100%;">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
                <td *matCellDef="let offer" mat-cell><a [routerLink]="'/offers/' + offer.id">{{offer.name}}</a></td>
              </ng-container>

              <ng-container matColumnDef="author">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Author</th>
                <td *matCellDef="let offer" mat-cell>
                  <span class="author-name"><a routerLink=".">{{offer.authorName}}</a></span>
                </td>
              </ng-container>

              <ng-container matColumnDef="offerStatus">
                <th *matHeaderCellDef mat-header-cell>Offer status</th>
                <td *matCellDef="let offer" mat-cell>
                  <mat-chip [class.blue-chip]="isAssigned(offer)" [class.red-chip]="isExpired(offer)" class="status-chip"
                            disableRipple>
                    {{offer.offerStatus}}
                  </mat-chip>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="userColumnsToDisplay; sticky: true" mat-header-row></tr>
              <tr *matRowDef="let offer; columns: userColumnsToDisplay" mat-row>
              </tr>
            </table>

            <!-- Paginator -->
            <mat-paginator #completedOffersPaginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                           showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab *ngIf="isAdvertiser()" label="Your offers">
          <div class="mat-elevation-z8">
            <table #userCreatedOffersSort="matSort" [dataSource]="userCreatedOffersDataSource" mat-table matSort
                   multiTemplateDataRows
                   style="width: 100%;">
              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
                <td *matCellDef="let offer" mat-cell><a [routerLink]="'/offers/' + offer.id">{{offer.name}}</a></td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell>Status</th>
                <td *matCellDef="let offer" mat-cell>
                  <div>
                    <mat-chip [class.blue-chip]="isAssigned(offer)" [class.red-chip]="isExpired(offer)" class="status-chip"
                              disableRipple>
                      {{offer.offerStatus}}
                    </mat-chip>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="advertiserColumnsToDisplay; sticky: true" mat-header-row></tr>
              <tr *matRowDef="let offer; columns: advertiserColumnsToDisplay" mat-row>
              </tr>
            </table>

            <!-- Paginator -->
            <mat-paginator #userCreatedOffersPaginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10"
                           showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<app-scroll-up-button></app-scroll-up-button>
