<app-navbar></app-navbar>

<div class="container" style="margin-top: 25px;">
  <h1>Offers</h1>
</div>

<!-- Filter -->
<div class="container">
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>Search...</mat-label>
    <input (keyup)="applyFilters($event)" [(ngModel)]="searchValue" matInput placeholder="Ex. offer">
    <button (click)="clearFilter()" *ngIf="searchValue" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- Table -->
<div class="mat-elevation-z8 container">
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let offer" mat-cell>
        <img *ngIf="offer.files.length > 0" [alt]="offer.files[0].name" [src]="getImageUrl(offer.files[0])"
             class="image">
        <p *ngIf="offer.files.length === 0">No image</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let offer" mat-cell>
        <p style="font-size: 18px;"><a [routerLink]="offer.id">{{offer.name}}</a><br><br></p>
        <p><span>By: </span><span class="author-name"><a routerLink=".">{{offer.authorName}}</a></span></p>
      </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th *matHeaderCellDef mat-header-cell>Categories/Formats</th>
      <td *matCellDef="let offer" mat-cell>
        <span><strong>Formats: </strong></span>
        <span *ngIf="offer.advertisementFormats.length > 0">
          <span *ngFor="let format of offer.advertisementFormats">
            <mat-chip-list [multiple]="true" aria-label="Formats"
                           class="inline-chips">
              <mat-chip (click)="addFilter(format.name)" class="category-chips">{{format.name}}</mat-chip>
            </mat-chip-list>
          </span>
        </span>
        <span *ngIf="offer.advertisementFormats.length === 0">
          No formats.
        </span>
        <div></div>
        <mat-divider style="margin: 10px 0"></mat-divider>
        <span><strong>Categories: </strong></span>
        <span *ngIf="offer.categories.length > 0">
          <span *ngFor="let category of offer.categories">
            <mat-chip-list [multiple]="true" aria-label="Categories"
                           class="inline-chips">
              <mat-chip (click)="addFilter(category.name)" class="category-chips">{{category.name}}</mat-chip>
            </mat-chip-list>
          </span>
        </span>
        <span *ngIf="offer.categories.length === 0">
          No categories.
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let offer" mat-cell style="text-align: center;">
        <mat-chip [class.blue-chip]="isAssigned(offer)" [class.red-chip]="isExpired(offer)" class="status-chip"
                  disableRipple>
          {{offer.offerStatus}}
        </mat-chip>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let offerData; columns: columnsToDisplay" mat-row></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                 showFirstLastButtons></mat-paginator>
</div>
