.jumbotron:before {
  content: '';
  position: absolute;
  display: block;
  background-image: url(src/assets/img/home-page-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 85%;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.platform-name {
  text-align: center;
  color: white;
  padding-top: 10%;
  font-size: 72px;
}

.lead-text {
  text-align: center;
  font-size: 24px;
  color: white;
}
